<div class="panel panel-default">
    <div class="panel-body">
        <div class="dropdown" appDropDown>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Recipe
                    <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['edit']">Edit Recipe</a></li>
              <li><a (click)="onDelete()">Delete Recipe</a></li>
              <li><a (click)="toShoppingList()">To Shopping List</a></li>
            </ul>
          </div>
          <br>
        <h3>{{ recipe.name }}</h3>
        <p>{{ recipe.description }}</p>        
        <br>
        <h4>Ingredients</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} <span class="badge">{{ ingredient.amount }}</span>
          </li>
        </ul>
        
    </div>
</div>
