<div class="row">
  <div class="col-md-6 col-md-3">
    
    <form action="" method="POST" role="form">
      <div class="form-group">
        <div class="row">
          <div class="col-md-7">
            <input type="text" class="form-control" placeholder="ingredient" formControlName="name">
          </div>
          <div class="col-md-3">
              <input type="number" class="form-control" placeholder="amount" formControlName="amount">
          </div>
          <div class="col-md-1">            
            <button type="button" class="btn btn-danger" (click)="onRemoveIngredient(i)">&times;</button>            
          </div>
        </div>
      </div> 

      
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
  </div>
</div>